/* FONT IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Cabin&family=Montserrat:wght@700&display=swap');

/* DEFAULT STYLES/RESETS */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Cabin', sans-serif;
    font-size: 1em;
    line-height: 1.25;
    font-style: normal;
    line-height: 1.2em;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navlink {
    color: forestgreen;
}

.dellink {
    color: red;
}

.editlink {
    color: purple;
}

.delbutton {
    display: block;
    margin: 0 auto;
    background: red;
    color: white;
    border: 1px solid black;
    border-radius: 3px;
}

#logo {
    font-family: 'Pacifico', cursive;
    font-size: 2em;
}

