@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Find New Movies</h1>

</div>
<div class="row">
    <div class="col-md-4">
        <h2>Movies</h2>
        <p><a class="btn btn-default" href="/Movie/List">Movies List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Directors</h2>
        <p><a class="btn btn-default" href="/Director/List">Directors List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Cinemas</h2>
        <p><a class="btn btn-default" href="/Cinema/List">Cinemas List &raquo;</a></p>
    </div>
</div>