@{
    ViewBag.Title = "Home Page";
}


<div>
    @*image token from: https://www.wallpaperflare.com/black-and-silver-land-camera-film-cinema-equipment-movie-wallpaper-zzppr*@
    <img src="/Content/Images/background.jpg" width="600" alt="camera and film" />
</div>

<div class="row">
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Movies</h2>
        @*image token from: https://www.pngegg.com/en/png-zrzmk*@
        <img src="/Content/Images/movie.png" width="200" alt="movie" />
        <p><a class="btn btn-default" href="/Movie/List">Movies List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Directors</h2>
        @*image token from: https://www.pngegg.com/en/png-bwkzc*@
        <img src="/Content/Images/projector.png" width="200" alt="projector" />
        <p><a class="btn btn-default" href="/Director/List">Directors List &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2 style="font-family: 'Pacifico', cursive; font-size: 2em;">Cinemas</h2>
        @*image token from: https://www.pngegg.com/en/png-blfyj*@
        <img src="/Content/Images/cinema.png" width="200" alt="cinema" />
        <p><a class="btn btn-default" href="/Cinema/List">Cinemas List &raquo;</a></p>
    </div>
</div>